<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minion - Firebase Login</title>

     <!--for firebase sign in -->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />

</head>
<body>

    !--should be placed before all scripts-->
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
    <!--<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-auth.js"></script>-->

    <script>
      // Initialize Firebase app script
      var config = {
        apiKey: "AIzaSyBlszDs2bPzkX9QX7WaGE6J_cIE074-BCY",
        authDomain: "minion-96.firebaseapp.com",
        databaseURL: "https://minion-96.firebaseio.com",
        projectId: "minion-96",
        storageBucket: "minion-96.appspot.com",
        messagingSenderId: "841099827039"
      };
      firebase.initializeApp(config);

    </script>


    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />

    <script>
        var uiConfig = {
              callbacks: {
                signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                  // User successfully signed in.
                  // Return type determines whether we continue the redirect automatically
                  // or whether we leave that to developer to handle.
                  return true;
                },
                uiShown: function() {
                  // The widget is rendered.
                  // Hide the loader.
                  document.getElementById('loader').style.display = 'none';
                }
              },

              // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
              signInFlow: 'popup',

              signInSuccessUrl: '/login-success',

              signInOptions: [
                {
                    provider : firebase.auth.EmailAuthProvider.PROVIDER_ID,
                    requireDisplayName: true
                }
              ],

              // Terms of service url.
              tosUrl: 'https://bankservice.herokuapp.com',

              // Privacy policy url.
              privacyPolicyUrl: 'https://bankservice.herokuapp.com'
    };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());

    ui.start('#firebaseui-auth-container', uiConfig);

    </script>

    <h1>Welcome to My Awesome App</h1>
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>






</body>
</html>